div.error-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  div.error-title {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p {
      text-align: center;
      font-size: large !important;
      font-weight: bold;
    }

    button.error-action {
      margin: 20px 0;
    }
  }
}
