div.attachements {
  margin-top: 5px;
  padding: 10px 0;
  min-width: 40px;

  &.with-title {
    border-top: 1px dashed black;
  }

  div.attachement-title h5 {
    font-variant-caps: all-petite-caps;
    text-decoration: underline;
    color: rgb(128, 126, 126);
  }

  div.files-container {
    flex-wrap: wrap;

    div.file-attached {
      min-width: 150px;
      max-width: 200px;
      margin: 0;
      margin-right: 10px;
      margin-bottom: 10px;

      div.file {
        position: relative;

        div.down {
          background-color: rgb(177, 177, 177);
          height: 40px;
          justify-content: space-around;
          align-items: center;

          div.size {
            justify-content: center;
            align-items: center;
            padding: 3px 4px;
            background: rgb(158, 158, 158);
            font-variant-caps: all-petite-caps;
            font-weight: bold;
            border-radius: 3px;
            color: white;
          }
        }
      }
    }
  }

  &.me {
    div.files-container {
      justify-content: flex-end;

      div.file-attached {
        margin: 0;
        margin-left: 10px;
        margin-bottom: 10px;
      }
    }
  }
}
