div.attachements {
  margin-top: 5px;
  padding: 10px 0;
  min-width: 40px;

  &.with-title {
    border-top: 1px dashed black;
  }

  .attachement-title h5 {
    font-variant-caps: all-petite-caps;
    text-decoration: underline;
    color: rgb(128, 126, 126);
  }

  div.files-container {
    justify-content: flex-end;

    div.file-attached {
      min-width: 180px;
      max-width: 220px;

      div.file {
        position: relative;

        div.information {
          height: 40px;
          background-color: gray;
          align-items: center;
          display: flex;
          flex-wrap: nowrap;

          div.icon {
            flex-grow: 0;
            flex-shrink: 0;
            width: 23px !important;
            margin: 0 5px;
          }

          div.name p {
            flex-grow: 1;
            flex-shrink: 1;
            font-size: small;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            word-wrap: normal;
          }
        }

        &:hover {
          div.file-information {
            display: block;
          }
        }

        div.down {
          background-color: rgb(177, 177, 177);
          height: 40px;
          justify-content: space-around;
          align-items: center;

          div.size {
            justify-content: center;
            align-items: center;
            padding: 3px 4px;
            background: rgb(158, 158, 158);
            font-variant-caps: all-petite-caps;
            font-weight: bold;
            border-radius: 3px;
            color: white;
          }
        }
      }
    }
  }
}
