div.editor {
  align-items: center;
  max-height: 300px;
  min-height: 50px;
  height: auto;
  flex-shrink: 0;
  flex-grow: 0;
  background: rgba(104, 104, 104, 0.897);

  .editor-container {
    textarea {
      resize: none;
    }

    .textarea-chat {
      font-size: large;
      border-width: 0 !important;
      border: none !important;
      outline: none !important;
      outline-style: none !important;
      outline-width: 0 !important;
      background: inherit;
      color: white;
      font-style: normal;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
  }

  &.editor-advanced {
    height: 300px !important;
    max-height: 300px !important;
    display: block;

    div.editor-container {
      padding: 0;
      height: inherit;
      max-height: inherit;

      div.editor-advanced-container {
        height: inherit;
        max-height: inherit;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        background-color: white;

        div.editor-core-container {
          flex-grow: 1;
          flex-shrink: 1;

          div.quill {
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;

            div.ql-container {
              flex-grow: 1;
              flex-shrink: 1;
              overflow: auto;
            }
          }
        }

        div.actions {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          flex-shrink: 0;
          flex-grow: 0;
          padding: 7px 0;
          height: 40px;
          max-height: 40px;

          button {
            margin: 0 5px;
          }
        }
      }
    }
  }
}
