div.message-html {
  div.subject {
    padding: 5px 0;
    margin-top: 5px;
    margin-bottom: 5px;

    h3 {
      font-variant-caps: normal !important;
      border: none;
      font-weight: lighter !important;
    }
  }

  div.headers {
    position: relative;
    padding: 10px 0;

    .from {
      font-weight: bold;
    }

    .to {
      text-transform: capitalize;
      display: flex;
      align-items: center;

      .arrow-header {
        width: 15px;
        height: 15px;
        padding: 0;
        border: none !important;
        color: black;
        outline: none !important;
        margin: 0 5px;
        &:hover {
          border: none !important;
        }
        & svg {
          color: inherit;
          width: inherit;
          height: inherit;
        }
      }
    }

    .headers-container {
      position: absolute;
      left: 0;
      top: 100%;
      padding: 10px;
      background: white;
      max-width: 500px;
      min-width: 200px;
      width: 100%;
      margin-bottom: 30px;
      border: 1px solid rgb(180, 180, 180);
      z-index: 2;
      border-radius: 3px;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.507);
      font-size: 14px;

      .header-attribute {
        padding: 5px 0;
        .attribute-name {
          padding: 0 8px;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          text-transform: capitalize;
          color: rgb(148, 147, 147);
          font-family: Arial, Helvetica, sans-serif;
        }

        .attribute-value {
          color: black;
          display: flex;
          align-items: center;
        }
      }
    }
  }

  .avatar {
    display: flex;
    justify-content: center;
    padding: 15px 5px;
    font-size: 40px;
    max-width: 80px;
    min-width: 50px;
  }

  .iframes {
    width: 100%;
    height: auto;
    border: none;
    overflow-y: visible;
  }
}
