div.right-side {
  position: relative;
  height: inherit;
  flex-shrink: 1;
  flex-grow: 1;
  background-color: white;
  height: inherit;
  overflow: hidden;
  border-left: 1px solid rgb(139, 139, 139);

  div.right-side-container {
    height: inherit;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    div.message-info {
      flex-grow: 1;
      flex-shrink: 1;
    }
  }

  & .no-selected-contact,
  & .empty-box {
    background: white;
    color: rgb(136, 131, 131);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: bolder;
    flex-grow: 1;
    flex-shrink: 1;
  }

  & .result {
    overflow: hidden;
    overflow-y: auto;

    div.header {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      height: 50px;
      z-index: 7;
      background-color: rgb(212, 209, 209);

      div.kickname {
        height: inherit;
        padding: 0 10px;
        font-size: 20px;
        display: flex;
        align-items: center;
        font-weight: bold;
      }
    }

    .messages-container {
      margin-top: 60px;
      padding: 0 10px;
    }

    .complete-html {
      margin: 5px;

      &:not(:first-child) .message-html {
        border-top: 1px solid gray;
      }
    }
  }
}

@import './EmailText.scss';
@import './EmailHTML.scss';
