div.right-side {
  position: relative;
  height: inherit;
  flex-shrink: 1;
  flex-grow: 1;
  background-color: white;
  height: inherit;
  overflow: hidden;
  border-left: 1px solid rgb(139, 139, 139);

  div.right-side-container {
    height: inherit;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    div.message-info {
      flex-grow: 1;
      flex-shrink: 1;
    }
  }

  & .no-selected-contact,
  & .empty-box {
    background: white;
    color: rgb(136, 131, 131);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: bolder;
    flex-grow: 1;
    flex-shrink: 1;
  }

  & .result {
    overflow: hidden;
    overflow-y: auto;

    div.header {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      height: 50px;
      z-index: 7;
      background-color: rgb(212, 209, 209);

      div.kickname {
        height: inherit;
        padding: 0 10px;
        font-size: 20px;
        display: flex;
        align-items: center;
        font-weight: bold;
      }
    }

    .messages-container {
      margin-top: 60px;
      padding: 0 10px;
    }

    .complete-html {
      margin: 5px;

      &:not(:first-child) .message-html {
        border-top: 1px solid gray;
      }

      .message-html {
        background: inherit;

        & .subject {
          padding: 5px 0;
          margin-top: 5px;
          margin-bottom: 5px;

          & h3 {
            font-variant-caps: normal !important;
            border: none;
            font-weight: lighter !important;
          }
        }

        .headers {
          position: relative;
          padding: 10px 0;

          .from {
            font-weight: bold;
          }

          .to {
            text-transform: capitalize;
            display: flex;
            align-items: center;

            .arrow-header {
              width: 15px;
              height: 15px;
              padding: 0;
              border: none !important;
              color: black;
              outline: none !important;
              margin: 0 5px;
              &:hover {
                border: none !important;
              }
              & svg {
                color: inherit;
                width: inherit;
                height: inherit;
              }
            }
          }

          .headers-container {
            position: absolute;
            left: 0;
            top: 100%;
            padding: 10px;
            background: white;
            max-width: 500px;
            min-width: 200px;
            width: 100%;
            margin-bottom: 30px;
            border: 1px solid rgb(180, 180, 180);
            z-index: 2;
            border-radius: 3px;
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.507);
            font-size: 14px;

            .header-attribute {
              padding: 5px 0;
              .attribute-name {
                padding: 0 8px;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                text-transform: capitalize;
                color: rgb(148, 147, 147);
                font-family: Arial, Helvetica, sans-serif;
              }

              .attribute-value {
                color: black;
                display: flex;
                align-items: center;
              }
            }
          }
        }

        .avatar {
          display: flex;
          justify-content: center;
          padding: 15px 5px;
          font-size: 40px;
          max-width: 80px;
          min-width: 50px;
        }

        .iframes {
          width: 100%;
          height: auto;
          border: none;
          overflow-y: visible;
        }
      }
    }
  }
}

@import './EmailText.scss';
