div.home {
  div.title {
    font-size: large;
    font-weight: bolder;
    padding: 10px 20px;
    border-bottom: 1px solid rgb(212, 212, 212);
    height: 65px;

    & h4 {
      font-variant-caps: all-small-caps;
      font-weight: bolder;
      font-style: oblique;
      color: $primaryColor;
      margin: 0;
      padding: 0;
    }
  }
}
